---
Language: C
IndentWidth: 4
TabWidth: 4
UseTab: Never
AccessModifierOffset: -4
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignAfterOpenBracket: AlwaysBreak
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
BreakBeforeBraces: Allman
BraceWrapping:
  AfterControlStatement: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: true
  AfterBlock: true
  BeforeCatch: true
  BeforeElse: true
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
  BeforeWhile: true
  BeforeFor: true
  BeforeFunction: true
  BeforeLambdaBody: true
AllowShortFunctionsOnASingleLine: None
BinPackArguments: true
BinPackParameters: true
ColumnLimit: 100
IndentCaseLabels: true
IndentWrappedFunctionNames: false
PointerAlignment: Right
SortIncludes: false
SpacesBeforeTrailingComments: 1
SpaceAfterControlStatementKeyword: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpaceInEmptySquareBrackets: false
SpaceInEmptyBraces: false
UseTab: Never

